#### Realize as seguintes atividades usando um notebook Jupyter, considerando o arquivo Ano-2017, que traz todo o histórico de gastos dos deputados federais do Brasil no ano de 2017, por meio do cartão corporativo:

In [26]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\oi122057\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\oi122057\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd

In [31]:
data = pd.read_excel('Ano-2017.xlsx', engine='openpyxl', sheet_name='Ano-2017')

In [29]:
data.head(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,...,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
0,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,1.0,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,2017.0,0.0,NaN,NaN,1401321.0,NaN,NaN,2812.0,6328475.0,NaN
1,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,1.0,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,2017.0,0.0,NaN,NaN,1436042.0,NaN,NaN,2812.0,6423547.0,NaN
2,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,9.0,PASSAGENS AÉREAS,...,2017.0,0.0,MÁRCIA OLIVEIRA GOMES;,SÃO PAULO / BRASÍLIA,1401049.0,NaN,NaN,2812.0,6327499.0,NaN
3,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,9.0,PASSAGENS AÉREAS,...,2017.0,0.0,MÁRCIA OLIVEIRA GOMES;,BRASÍLIA/SÃO PAULO,1401049.0,NaN,NaN,2812.0,6327494.0,NaN
4,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1411388.0,NaN,NaN,2812.0,6356388.0,NaN
5,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1431815.0,NaN,NaN,2812.0,6412955.0,NaN
6,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1382939.0,NaN,NaN,2812.0,6276476.0,NaN
7,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1445004.0,NaN,NaN,2812.0,6447018.0,NaN
8,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1405052.0,NaN,NaN,2812.0,6336332.0,NaN
9,LID.GOV-CD,NaN,NaN,NaN,2015.0,NaN,NaN,55.0,13.0,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017.0,0.0,NaN,NaN,1435313.0,NaN,NaN,2812.0,6421575.0,NaN

In [21]:
#a) Exiba as 10 primeiras e 10 últimas linhas da tabela

data.tail(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,...,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
367687,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,BSB/SMT,0.0,0.0,NaN,3176.0,1522517.0,NaN
367688,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,CGB/OPS,0.0,0.0,NaN,3176.0,1511314.0,NaN
367689,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,BSB/CGB,0.0,0.0,NaN,3176.0,1513531.0,NaN
367690,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,CGB/SMT,0.0,0.0,NaN,3176.0,1522577.0,NaN
367691,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,CGB/BSB,0.0,0.0,NaN,3176.0,1510957.0,NaN
367692,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,BSB/CGB,0.0,0.0,NaN,3176.0,1522576.0,NaN
367693,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,SMT/CGB,0.0,0.0,NaN,3176.0,1511165.0,NaN
367694,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,OPS/CGB,0.0,0.0,NaN,3176.0,1510785.0,NaN
367695,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,CGB/BSB,0.0,0.0,NaN,3176.0,1511164.0,NaN
367696,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015.0,MT,PSC,55.0,999.0,Emissão Bilhete Aéreo,...,2017.0,0.0,XUXU DAL MOLIN,SMT/CGB,0.0,0.0,NaN,3176.0,1510958.0,NaN

In [32]:
#b) Quantos registros (linhas) e quantas colunas traz a tabela?

data.shape

(367697, 31)

In [33]:
data.columns

Index(['txNomeParlamentar', 'cpf', 'ideCadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento',
       'urlDocumento'],
      dtype='object')

In [34]:
features = ['sgUF', 'sgPartido', 'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido']

In [35]:
data['datEmissao'] = pd.to_datetime(data['datEmissao'])
data[features].dtypes

sgUF                    object
sgPartido               object
datEmissao      datetime64[ns]
vlrDocumento           float64
vlrGlosa               float64
vlrLiquido             float64
dtype: object

In [36]:
data['sgUF'].unique()

array([nan, 'PE', 'DF', 'CE', 'RR', 'ES', 'SP', 'PI', 'PA', 'BA', 'RJ',
       'PR', 'RS', 'MG', 'GO', 'MA', 'SC', 'AP', 'AM', 'PB', 'AL', 'RO',
       'MS', 'TO', 'SE', 'MT', 'RN', 'AC'], dtype=object)

In [37]:
data['sgPartido'].unique()

array([nan, 'AVANTE', 'PSDB', 'MDB', 'DEM', 'PP', 'PSC', 'PODE', 'PSB',
       'PT', 'PRB', 'PTB', 'PPS', 'PDT', 'PSOL', 'PV', 'SOLIDARIEDADE',
       'PSD', 'PR', 'PCdoB', 'PSL', 'PROS', 'REDE', 'PATRI', 'PHS', 'PPL'],
      dtype=object)

In [38]:
all_expenses = data.loc[data['vlrLiquido'].notnull()][features]
all_expenses.head(3)

  sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
0  NaN       NaN 2017-07-03        271.79      0.00      271.79
1  NaN       NaN 2017-10-25        265.22    201.92       63.30
2  NaN       NaN 2017-07-03       1509.80      0.00     1509.80

In [39]:
pt_expenses = data.loc[(data['sgPartido'] == 'PT') & (data['vlrLiquido'].notnull())][features]
pt_expenses.head(3)

     sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
6534   RJ        PT 2017-12-10        5000.0       0.0      5000.0
6535   RJ        PT 2017-04-30        5000.0       0.0      5000.0
6536   RJ        PT 2017-05-26        5000.0       0.0      5000.0

### Valor do documento, valor glosa e valor líquido

O valor do documento representa o valor total da despesa para a qual o parlamentar solicitou a restituição. O valor glosa representa a parcela de retenção de pagamentos para despesas irregulares ou que extrapolam o limite de gastos. O valor líquido representa o montante efetivamente restituído ao parlamentar.

Portanto, iremos considerar somente o valor líquido das despesas, uma vez que ele representa o valor real dos gastos da união com despesas parlamentares.

In [40]:
pt_expenses.loc[pt_expenses['vlrDocumento'] != pt_expenses['vlrLiquido']].head(3)

     sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
6555   RJ        PT 2017-01-13         73.80     41.00       32.80
6557   RJ        PT 2017-09-27         65.64      5.87       59.77
6558   RJ        PT 2017-11-28         74.79      6.10       68.69

In [41]:
#c) Qual a quantidade de transações (gastos) feitas pelo PT (Partido dos Trabalhadores)?

pt_mean_expenses = pt_expenses['vlrLiquido'].mean()
all_mean_expenses = all_expenses['vlrLiquido'].mean()

print('Quantidade de transações do PT: ', pt_expenses.shape[0])
print('Valor médio das transações do PT: R$ ', round(pt_mean_expenses, 2))
print('Quantidade de transações de todos: ', all_expenses.shape[0])
print('Valor médio das transações de todos: R$ ', round(all_mean_expenses, 2))

Quantidade de transações do PT:  49547
Valor médio das transações do PT: R$  521.94
Quantidade de transações de todos:  367697
Valor médio das transações de todos: R$  614.3

In [42]:
pt_above_mean_expenses = pt_expenses.loc[pt_expenses['vlrLiquido'] > pt_mean_expenses]
all_above_mean_expenses = all_expenses.loc[all_expenses['vlrLiquido'] > all_mean_expenses]

print('Quantidade de transações do PT acima do valor médio: ', pt_above_mean_expenses.shape[0])
print('Valor médio das transações do PT acima do valor médio: R$ ', round(pt_above_mean_expenses['vlrLiquido'].mean(), 2))
print('Quantidade de transações de todos acima do valor médio: ', all_above_mean_expenses.shape[0])
print('Valor médio das transações de todos acima do valor médio: R$ ', round(all_above_mean_expenses['vlrLiquido'].mean(), 2))

Quantidade de transações do PT acima do valor médio:  10993
Valor médio das transações do PT acima do valor médio: R$  2057.56
Quantidade de transações de todos acima do valor médio:  83980
Valor médio das transações de todos acima do valor médio: R$  2365.5

In [43]:
psdb_rs_expenses = data.loc[(data['sgUF'] == 'RS') & (data['sgPartido'] == 'PSDB') & (data['vlrLiquido'].notnull())][features]
psdb_rs_expenses.head(3)

      sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
35547   RS      PSDB 2017-02-25        148.68      0.00      148.68
35548   RS      PSDB 2017-03-30        127.43      3.02      124.41
35549   RS      PSDB 2017-04-29         92.54      0.00       92.54

In [44]:
#f) Filtre apenas as transações realizadas por deputados do PSDB do Rio Grande do Sul. Quantas foram as transações?

psdb_rs_mean_expenses = psdb_rs_expenses['vlrLiquido'].mean()

print('Quantidade de transações do PSDB RS: ', psdb_rs_expenses.shape[0])
print('Valor médio das transações do PSDB RS: R$ ', round(psdb_rs_mean_expenses, 2))

Quantidade de transações do PSDB RS:  653
Valor médio das transações do PSDB RS: R$  460.43

In [50]:
recess_expenses = data.loc[(data['datEmissao'].dt.month.isin([1, 2, 12])) & (data['vlrLiquido'].notnull())][features]

recess_expenses.head(3)

   sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
23  NaN       NaN 2017-12-12        114.79       0.0      114.79
24  NaN       NaN 2017-02-20        143.33       0.0      143.33
27  NaN       NaN 2017-02-10        515.00       0.0      515.00

In [48]:
#e) Qual a quantidade de transações (gastos) acima da média ? (Obs.: Mais tarde vamos mostrar que existe uma baita pegadinha 
#nesse tipo de pergunta).

print('Quantidade de transações do recesso: ', recess_expenses.shape[0])

Quantidade de transações do recesso:  66221

In [51]:
#g) Filtre todas as transações realizadas no período de recesso (suposição: janeiro, fevereiro e dezembro 

print('Valor médio das transações do recesso: R$ ', round(recess_mean_expenses, 2))

Valor médio das transações do recesso: R$  751.49