In [ ]:
import pandas as pd
import numpy as np

#### a) Crie duas bases fictícias (base A contendo 10 registros e trazendo cpf e idade do cliente como campos, e base B com 3 registros contendo cpf e nome do cliente). Cruze as 2 bases usando os 4 diferentes métodos (inner, left, right e outer). Comente as diferenças.

In [ ]:
# Criando os dataset A e B
base_A = pd.DataFrame({
    "cpf":[
        11111111111,
        22222222222,
        33333333333,
        44444444444,
        55555555555,
        66666666666,
        77777777777,
        88888888888,
        99999999999,
        12345678912
    ],
    "idade":[11,12,13,14,15,16,17,18,19,20]
})
print(base_A)

base_B = pd.DataFrame({
    "cpf":[11111111111,22222222222,55555555555],
    "nome":['Paulo','Gabriel','Guilherme']
})
print(base_B)

In [ ]:
# Cruzando dados da tabela A e da B - inner join

pd.merge(base_A, base_B, on="cpf", how="inner")

In [ ]:
# Cruzando dados da tabela A e da B - left join

pd.merge(base_A, base_B, on="cpf", how="left")

In [ ]:
# Cruzando dados da tabela A e da B - right join

pd.merge(base_A, base_B, on="cpf", how="right")

In [ ]:
# Cruzando dados da tabela A e da B - full join

pd.merge(base_A, base_B, on="cpf", how="outer")

#### b) Com relação à base "PeopleAnalytics.txt"

In [ ]:
# Importando um arquivo no formato .txt

people = pd.read_csv('people-analytics.txt', sep='\t')F, 

people.head()

In [ ]:
# Como a base não existe o campo dos funcionários que saíram da empresa (left=1), considerar o campo Attrition = "yes"
# como sendo os funcionários que saíram da empresa

# a) Qual a quantidade de funcionários que saiu da empresa (left 1)

people_saiu = people.query("Attrition == 'Yes'") # Outro dataframe

print(people_saiu.shape[0])

print("A quantidade de pessoas que saíram da empresa foram:", len(people_saiu), "funcionários")

# basepop.query("populosos<10000000 & Estados== 'ES' ")

In [ ]:
# b) Qual a percepção de funconários que recebem "Stock Options"? 
# Ela varia entre pessoas que sairam e pessoas que não sairam da empresa?

people_stock = people.query("StockOptionLevel == '1'")

In [ ]:
print("O Total de funcionários e ex-funcionários é:", len(people))
print("O Total de func. e ex-func. que receberam Stock Options é:", len(people.query("StockOptionLevel == 1")))
print("O percentual dos func e ex-func que receberam stock options é de:", round(len(people.query("StockOptionLevel == 1")) / len(people) * 100, 2), '%' )
print("O percentual dos func que receberam Stock Options é de:", (len(people.query("Attrition == 'No' & StockOptionLevel == 1")) / len(people)) * 100, "%")
print("O percentual dos ex-func que receberam Stock Options é de:", (len(people.query("Attrition == 'Yes' & StockOptionLevel == 1")) / len(people)) * 1

#### Qual a distância média da casa do funcionário até o trabalho? 
#### Como isso varia entre pessoas que saíram da empresa e pessoas que ficaram?

In [ ]:
# Distancia media ate o trabalho de func e ex func
dist_media = people['DistanceFromHome'].mean()
print("A distância média da casa dos funcionários e ex funcioarios até o trabalho é de:", dist_media)

# Distancia media ate o trabalho de func
func = people.query("Attrition == 'No'")
dist_media_func = func['DistanceFromHome'].mean()
print("A distância média da casa dos funcionários até o trabalho é de:", dist_media_func)

# Distancia media ate o trabalho de ex func
ex_func = people.query("Attrition == 'Yes'")
dist_media_ex_func = ex_func['DistanceFromHome'].mean()
print("A distância média da casa dos ex funcionários até o trabalho é de:", dist_media_ex_func)

#### d) Crie uma varíavel que divida a variável "TecalWorkingYears em faixas (Até 3, 4-6, 7-10 e >10 anos). 
#### Qual a quantidade de funcionários em cada uma das faixas?
#### Essaconcentração varia muito entre pessoas que saíram ou não da empresa?

In [ ]:
# Primeira opção para categorizar o tempo de trabalho proposta pelo professor do plantão de dúvidas

condicoes = [
    (people["TotalWorkingYears"] <= 3),
    (people["TotalWorkingYears"] >= 4) & (people["TotalWorkingYears"] <=6), 
    (people["TotalWorkingYears"] >= 7) & (people["TotalWorkingYears"] <=10),
    (people["TotalWorkingYears"] > 10)
]
classe = ["ate 3", "entre 4 e 7", "entre 7 e 10", "acima de 10"]
people['Tempo_em_anos'] = np.select(condicoes, classe, default = "Sem Info")
people

In [ ]:
# Segunda opção proposta por Rodrigo 

def condition(years):
    if years <= 3:
        return 'less than or equal 3'
    elif years <= 6:
        return 'between 4 and 7'
    elif years <= 10:
        return 'between 7 and 10'
    else:
        return 'greater than 10'

people.assign(YearsOfWork=people['TotalWorkingYears'].apply(condition))

In [ ]:
df = people.groupby('Tempo_em_anos')['Attrition'].count()
print(df)

In [ ]:
df2 = people.query("Attrition=='Yes'").groupby('Tempo_em_anos')['Attrition'].count()
print(df2)

In [ ]:
df2 = people.query("Attrition=='No'").groupby('Tempo_em_anos')['Attrition'].count()
print(df2)